[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqtgraph = "*"
scipy = "*"
pyqt5 = "*"
numpy = "*"
pyaudio = "*"


[dev-packages]

[requires]
python_version = "3.9"
